# THis is the variant name, you can use any names
# Useful if you have more than one variant, eg. desktop, server, etc
VARIANT=desktop

# the architectures built
ARCHS="amd64"

# The keyring 
KEYRING=/usr/share/keyrings/blankon-archive-keyring.gpg

# GPG
GNUPG_DIR=/home/cdimage/.gnupg

# These are used by debootstrap
# The name of the distribution, 
DIST=uluwatu
# The mirror
MIRROR=http://ananda.blankon.id/blankon/
# The debootstrap script
SCRIPT=/usr/share/debootstrap/scripts/uluwatu
# The components
COMPONENTS="main restricted extras extras-restricted"

# Extra repository if you need more software coming from another repositories,
# this is a full sources.list lines, and new line is represented by a pipe
# you can add as many as you want. This will go to
# /etc/apt/sources.list.d/extra.list
# EXTRA_REPOSITORY="deb http://another.repository/line distribution components|"
# EXTRA_REPOSITORY+="deb http://yet.another.repository/line distribution components|"
# EXTRA_REPOSITORY+="deb http://yet.more.another.repository/line distribution components|"

# Hidden extra repository if you need more software coming from another repositories,
# but you don't want the end user to see them. The repository will be removed from
# /etc/apt/sources.list.d after installation of the packages
# This bear the same format as EXTRA_REPOSITORY
# EXTRA_REPOSITORY_HIDDEN="deb http://another.repository/line distribution components|"
# EXTRA_REPOSITORY_HIDDEN+="deb http://yet.another.repository/line distribution components|"
#EXTRA_REPOSITORY_HIDDEN+="deb http://kambing.ui.ac.id/debian experimental main|"
#EXTRA_REPOSITORY_HIDDEN="deb http://tempayan.blankonlinux.or.id/blankon rote main|"
#EXTRA_REPOSITORY_HIDDEN="deb http://arsip-dev.blankonlinux.or.id/blankon tambora main extras restricted extras-restricted|"

# This is the local repo
LOCAL_REPO_SOURCE_PATH=`pwd`/$DIST-local-repo
LOCAL_REPO_KEYRING_PATH=`pwd`/$DIST-local-repo/.gnupg-archive/
LOCAL_REPO_KEYRING=9120A048

# This is the list of the packages installed in the CD
PACKAGES="blankon-role-keyring blankon-keyring blankon-desktop plymouth-theme-blankon blankon-kernel-headers blankon-graphics blankon-media blankon-keyring aufs-tools gnome-control-center manokwari manokwari-theme-greeter openssh-client tebu-flat-icon-theme gnome-terminal plymouth-theme-blankon sudo lsb-release midori libglib2.0-bin curl locales-all audacious inkscape gimp"
#PACKAGES="manokwari manokwari-theme-greeter openssh-client tebu-flat-icon-theme gnome-terminal plymouth-theme-blankon sudo lsb-release midori libglib2.0-bin curl"
# This is the list of the packages Blacklist in the CD
BLACKLIST="gdm3 gnome-session lightdm-gtk-greeter"

# This is the kernel package
KERNEL=linux-image-generic

KERNEL_amd64=linux-image-4.9.0-3-amd64

# You can uncomment this to install additional packages which only
# lives in the LIVE image, but will not installed to hard drive
# (casper only, see LIVE_SYSTEM below)
#LIVE_PACKAGES="debian-installer"

# This is the squashfs tools package name
SQUASHFS="squashfs-tools"

# ISOLINUX
# This is the isolinux theme package name
#ISOLINUX=blankon-image-syslinux
# This is the path that the isolinux theme above provides the files installed to
#ISOLINUX_PATH=/usr/share/blankon-image-syslinux/

# STRIP files from the image, the files will be removed from filesystem as well as from the package
# manifest database.
#STRIP="/usr/share/doc/ /usr/share/locale/ /usr/share/man/ /usr/share/app-install/icons/ /usr/share/gnome/help/ /usr/share/icons/gnome/256x256  usr/share/icons/gnome/128x128"
# STRIP_EXCLUSIONS contains list of package which MUST not be STRIP-ped above
#STRIP_EXCLUSIONS="blankon-language-pack-bms rote-language-pack-bms"

# This is used by genisoimage
# This is the volume name
CDVOLUME=blankon

# This is used by the live system
# This is the live package
# For Debian these would be live-boot and live
# For Ubuntu these would be casper and casper
LIVE_PACKAGES=""
LIVE_SYSTEM="live"
LIVE_PACKAGES="live-boot live-config blankon-live-config blankon-repository-setup blankon-installer gparted"

# This is the maximum size the ISO would produce in megabytes, if more that this value, there will be an empty file called OVERSIZED
MAX_SIZE=1200

# This is the email templates resides, you must provide FAIL.txt and SUCCESS.txt email templates, honoring the RFC-822 format
TEMPLATES_PATH=/home/cdimage/pabrik-cc/templates-dvd/

# if set send email to the recipient 
RECIPIENT=blankon-dev@googlegroups.com,andro.medh4@gmail.com,herpiko@gmail.com,aftian@di.blankon.in,dampuawang@gmail.com,baliextravaganza@gmail.com,ansamsoftdev@gmail.com,rizaludindarian@gmail.com

# This is the place you publish the resulting files, failed and successful ones
# This is the disk path you would put the files, accessible by the webserver providing the PUBLISH_URL below
PUBLISH_PATH=/home/cdimage/images/livedvd-harian/

# This is the URL pointing to the files, you can use $DISK_ID as the directory name
PUBLISH_URL=http://cdimage.blankon.id/blankon/livedvd-harian/$DISK_ID
